/* Imports */
@import url("https://tropix126.github.io/BetterDiscordStuff/aurora/addons/disableExpansions.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Settings%20Icons.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Large%20Reactions.css");
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/categoryNameFlair.css"); 



/* Roundness */

.inner-1W0Bkn {
  border-radius: var(--roundness);
}

.status-oxiHuE:not(.status-3fQvEa) {
  border-radius: var(--roundness) !important;
}

.image-33JSyf, .wrapper-2F3Zv8 {
  border-radius: var(--roundness);
}

.guildsWrapper-5TJh6A .guildsError-3cFMtY {
  border-radius: calc(var(--roundness) + 1px) !important;
}

.guild-1EfMGQ .guildInner-3DSoA4 {
  border-radius: 0 !important;
}

.guild-1EfMGQ .guildIcon-CT-ZDq,
.guilds-1q_RqH .guildPlaceholder-1ioaid,
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK::after,
.theme-dark .guildsAdd-21_IdK,
.friendsTable-133bsv .friends-column.friends-column-guilds .icon-3o6xvg,
.status-oxiHuE,
.image-33JSyf,
.avatar-small,
.avatar-xxlarge,
.wrapper-2F3Zv8,
.status-oxiHuE.typing-1KJk_j .pulsingEllipsisItem-32hhWL,
.avatarHint-1qgaV3,
.partyMemberOverflow-3VhFIX .partyMemberBackground-aSF9mc,
.listRow-hutiT_ .listAvatar-1NlAhb,
.avatar-uploader-inner,
.avatar-uploader-indicator,
.avatarDefault-35WC3R,
.avatarSpeaking-1wJCNq,
.callAvatar-v-u4BM.voice-2D-tt_,
.callAvatar-v-u4BM .callAvatarStatus-3y6S04,
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarWrapper-TICyxO.voice-2D-tt_ .ripple-16ZT2p,
.from-mPWN2E, 
.to-2819fF,
.friendsTable-133bsv .friendsRow-2yicud .friends-column-guilds .more-mutual-guilds-btn,
.reviewCircle-1o-MOB,
.circle-1nK_79,
.guild-1EfMGQ.audio-3vVhBi:after, 
.guild-1EfMGQ.video-15yGu3:after,
.inner-1W0Bkn,
.iconInactive-98JN5i,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnGuilds-2we6jb .moreMutualGuildsBtn-2VwbkO,
.guildIconEmptyBackground-14tfYf,
.avatar-large, 
.avatar-profile, 
.avatar-small, 
.avatar-xlarge, 
.avatar-xsmall, 
.avatar-xxlarge,
.avatarUploaderInner-3UNxY3,
.icon-3o6xvg,
.gameIcon-gg34Dz {
  border-radius: var(--roundness) !important;
}

.messageCozy-2JPAPA .image-33JSyf {
  border-radius: var(--roundness) !important;
}

.guildsWrapper-5TJh6A.foldercontent .da-guildIcon {
  border-radius: var(--roundness) !important;
}



/* Text For Server Name / Category Name / Role List / Group DM Name */
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
  color: var(--hover-color);
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), transparent);
  border-image-slice: 1;
  margin-top: -7px;
  text-align: center;
}
  
.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
}
  
.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 13px;
  padding-bottom: 13px;
  padding: 19px 16px 6px 16px;
  font-size: 90%;
  color: var(--hover-color) !important;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), transparent);
  border-image-slice: 1;
  margin: 4px 0px 10px 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  width: 175px;
}
  
.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

.header-2o-2hj .name-3YKhmS {
   font-family: 'Satisfy', cursive;
   font-weight: 500;
   height: 45px;
   padding: 0 12px 0 16px;
   padding-top: 6px;
   padding-bottom: 6px;
}



/* User Settings Nitro Color Fixes */
#user-settings .item-PXvHYJ:nth-of-type(8) {
   color: var(--hover-color) !important; 
}

#user-settings .item-PXvHYJ:nth-of-type(8):hover {
   color: #fff !important; 
}



/* Home Icon */
.homeIcon-1FoKUJ {
	background-color: var(--main-color);
	-webkit-mask: url(https://ellexidecodes.github.io/Discord-Themes/assets/home.svg);
	-webkit-mask-size: 35px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	transition:250ms all ease;
  }
  
  .homeIcon-1FoKUJ defs,
  .homeIcon-1FoKUJ g {
	display: none;
  }
  
  


  /* New VIP Icons */
[class*="VIP"] {
	-webkit-mask-image: url(https://image64labs.github.io/assets/vip_icon.png) !important;
	cursor: pointer !important;
	height: 24px !important;
	margin-top: -3px !important;
	margin-left: 8px !important;
	width: 24px !important;
	background-color: #fff !important;
  }
  
  [class*="VIP selected"] {
	-webkit-mask-image: url(https://image64labs.github.io/assets/vip_icon.png) !important;
	cursor: pointer !important;
	height: 24px !important;
	margin-top: -3px !important;
	margin-left: 8px !important;
	width: 24px !important;
	background-color: rgb(250, 192, 46) !important;
  }



  /* Colored PluginRepo & ThemeRepo Loading */
path[d*="M0.000 183.023 L 0.000 366.046 46.377 366.046 L 92.754 366.046 92.754 312.629 L 92.754 259.213 127.223 259.213 C 174.433 259.213,187.432 257.146,210.766 245.926 C 311.105 197.681,301.344 41.358,195.859 7.193 C 173.603 -0.015,173.838 0.000,80.846 0.000 L 0.000 0.000 0.000 183.023 M157.615 88.195 C 193.007 97.413,198.827 152.678,166.407 171.674 C 158.993 176.019,155.494 176.398,122.807 176.398 L 92.754 176.398 92.754 131.677 L 92.754 86.957 122.807 86.957 C 146.807 86.957,153.819 87.206,157.615 88.195"] {
	fill: var(--main-color) !important;
  }
  
  path[d*="M0.000 39.479 L 0.000 78.957 43.575 78.957 L 87.151 78.957 87.151 204.097 L 87.151 329.236 129.609 329.236 L 172.067 329.236 172.067 204.097 L 172.067 78.957 215.642 78.957 L 259.218 78.957 259.218 39.479 L 259.218 0.000 129.609 0.000 L 0.000 0.000 0.000 39.479"] {
	fill: var(--main-color) !important;
  }
  
  
  
  /* Loading Container (Thanks Tropix) */
  .platform-win .container-16j22k::before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	background-color:var(--primary-color);
  }
  
  .platform-win .container-16j22k {
	background-image:var(--background-image) !important;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
  }
  
  .status-1JTY3j,
  .problemsText-1Yx-Kl {
	color:white !important;
	opacity:0.5;
  }
  
  .anchor-3Z-8Bb {
	color:var(--mc) !important;
  }
  
  
  
  /* Login Page (Thanks Tropix) */
  .canvas-3XuBXe, .image-2jyRAK {
	display:none !important;
  }
  
  
  
  /* Server Folders Spacer */
  .guildSeparator-1X4GQ1.folderseparator::after {
	background-color: var(--main-color) !important;
  }
  


  /* Spoiler Tweaks*/
.theme-dark .spoilerWarning-2aAZq1 {
	background-color: transparent;
}
  
.theme-dark .spoilerContainer-331r0R:hover .spoilerWarning-2aAZq1{
	background-color: var(--hover-color) !important;
	border-radius: 5px;
}
  
.theme-dark .spoilerContainer-331r0R .spoilerWarning-2aAZq1{
	background-color: var(--main-color) !important;
	border-radius: 5px;
}
  
.spoiler-1PPAUc.hiddenSpoilers-1ksnR6 { 
	filter: blur(22px);
}
  
.spoilerContainer-331r0R.hidden-HHr2R9 { 
	width: 85px;
	height: 30px;
	transition: 3s all ease-in-out;
}
  
.spoiler-1PPAUc {
	transition: 1.5s all ease-in-out;
}



/* Custom NSFW Warning Image */
.theme-dark .image-2LqJex {
	background-image: url(https://image64labs.github.io/assets/kanna_nsfw_warning.png);
	height: 420px;
	width: 420px;
}



/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}



/* BetterPonyMotes Button Fix (Top Right Only!) */
.bpm-emote-search-button {
  width: 30px;
  height: 24px;
}



/* New BetterPonyMotes Button */
.bpm-emote-search-button {
  background: url(https://image64labs.github.io/assets/bpm_icon.png) no-repeat center center;
}



/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}



/* Completely Removes Blocked Users Messages */
.messageGroupBlocked-3wrQQX {
    display: none;
}



/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
  background: var(--main-color) !important;
}

.ra-x-button {
  background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  float: right;
  cursor: pointer;
  color: transparent !important;
  width: 15px;
  height: 15px;
  margin-bottom: 17.5%;
}


  
/* User Birthday's */
.ub-item-inner {
  background: var(--main-color) !important;
}

.ub-x-button {
  background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  float: right;
  cursor: pointer;
  color: transparent !important;
  width: 15px;
  height: 15px;
  margin-bottom: 17.5%;
}



/* BPM Fix */
#bpm-sb-container {  border: 2px solid var(--hover-color) !important; padding: 5px 5px 0px 5px !important; margin: 0px !important !important; background-color: rgba(0,0,0,0.8) !important;}
#bpm-sb-close {filter: invert(1) !important;}
#bpm-sb-tabframe { background-color: transparent !important;}
#bpm-sb-dragbox { filter: invert(1) !important;}
#bpm-sb-input { font: 13.3333px Arial !important;color: black !important;}
.bpm-search-result { border: none !important;}
.bpm-sb-help { color: white !important;}
#bpm-sb-options {color: white !important;}
#bpm-sb-flagtab { color: white !important;}
