@import url("https://bdsources.tk/sourcecheck/code.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Large%20Reactions.css");
@import url("https://www.themonster.xyz/styles/google-fonts.css");
@import url("https://zuranasuki.github.io/css/addons/reborn/UserSettingsIcons.css");
@import url("https://zuranasuki.github.io/css/SpecialTags.css");

:root { 
 --main-color: #7289da;
 --hover-color: #7289da;
 }





/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}



/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
  background: var(--main-color) !important;
}

.ra-serveritem {
    margin: 20px;
    margin-top: 50px !important;
    display: flex;
    position: initial;
    flex-direction: column;
    contain: layout;
    pointer-events: auto;
}

.ra-x-button {
    background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    float: right;
    cursor: pointer;
    color: transparent !important;
    width: 15px;
    height: 15px;
    margin-bottom: 80px;
}


  
/* User Birthday's */
.ub-item-inner {
  background: var(--main-color) !important;
}

.ub-x-button {
  background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  float: right;
  cursor: pointer;
  color: transparent !important;
  width: 15px;
  height: 15px;
  margin-bottom: 17.5%;
}



/* Custom NSFW Warning Image */
.theme-dark .image-2LqJex {
  background-image: url(https://zuranasuki.github.io/assets/kanna_nsfw_warning.png);
  height: 420px;
  width: 420px;
}



/* Read All Notifications/Public Servers */
.RANbutton {
  text-transform: capitalize !important;
  font-size: 11px !important;
}

.theme-dark .acronym-2mOFsV {
  color: #fff;
}



/* My Account Email Blur */
.userSettingsAccount-2eMFVR div:nth-child(2)>div:nth-child(2)>.viewBody-2Qz-jg {
    filter: blur(5px);
    transition: 250ms filter ease-in-out;
}

.userSettingsAccount-2eMFVR div:nth-child(2)>div:nth-child(2)>.viewBody-2Qz-jg:hover {
    filter: blur(0px);
    transition: 250ms filter ease-in-out;
}
