/* Font */
.name-IbjUBS {
  padding-top: 0px;
  padding-bottom: 5px;
}
.name-IbjUBS {
  font-family: 'Courgette';
  text-transform: capitalize;
  font-size: 90%;
}
.name-IbjUBS {
  color: var(--main-color) !important;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), var(--main-color), transparent);
  border-image-slice: 1;
  margin-top: -7px;
  text-align: center;
  opacity: 1 !important;
}

.membersGroup-v9BXpm {
  font-family: 'Courgette';
  text-transform: capitalize;
  font-size: 90%;
}
.membersGroup-v9BXpm {
  color: var(--main-color) !important;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), var(--main-color), transparent);
  border-image-slice: 1;
  padding: 19px 16px 6px 16px;
  margin: 4px 0px 10px 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  width: 175px;
  line-height: 15px;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Courgette';
  font-weight: 500;
}

.input-2A_zIr {
  font-family: 'Courgette';
  text-transform: capitalize;
}

.nameTag-3uD-yy .usernameContainer-1fp4nu {
  font-family: Courgette;
  color: var(--main-color);
  padding-left: 1px;
  font-size: inherit !important;
  height: inherit !important;
  line-height: inherit !important;
}


.nameTag-3uD-yy .usernameContainer-1fp4nu .title-eS5yk3 {
  color: inherit;
  font-weight: 600 !important;
}

.header-zu8eWb {
  color: var(--main-color);
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), var(--main-color), transparent);
  border-image-slice: 1;
  padding: 19px 16px 6px 16px;
  margin: 4px 0px 10px 15px;
  padding-top: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  width: 210px;
}
.header-zu8eWb {
  font-family: Courgette;
  opacity: 1 !important;
}




/* Read All Notifications/Public Servers */
.RANbutton {
  text-transform: capitalize !important;
  font-size: 11px !important;
}

.RANbutton:hover {
  background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}



/* #channel Roundness */
#app-mount .chat-3bRxxu .wrapper-3WhCwL {
  border-radius: 4px;
}
