/* Font */
.name-IbjUBS {
  padding-top: 0px;
  padding-bottom: 5px;
}
.name-IbjUBS {
  font-family: 'Courgette';
  text-transform: capitalize;
  font-size: 90%;
}
.name-IbjUBS {
  color: var(--main-color) !important;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), var(--main-color), transparent);
  border-image-slice: 1;
  margin-top: -7px;
  text-align: center;
  opacity: 1 !important;
}

.membersGroup-v9BXpm {
  font-family: 'Courgette';
  text-transform: capitalize;
  font-size: 90%;
}
.membersGroup-v9BXpm {
  color: var(--main-color) !important;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), var(--main-color), transparent);
  border-image-slice: 1;
  padding: 19px 16px 6px 16px;
  margin: 4px 0px 10px 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  width: 175px;
  line-height: 15px;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Courgette';
  font-weight: 500;
}

.input-2A_zIr {
  font-family: 'Courgette';
  text-transform: capitalize;
}

.nameTag-3uD-yy .usernameContainer-1fp4nu {
  font-family: Courgette;
  color: var(--main-color);
  padding-left: 1px;
  font-size: inherit !important;
  height: inherit !important;
  line-height: inherit !important;
}


.nameTag-3uD-yy .usernameContainer-1fp4nu .title-eS5yk3 {
  color: inherit;
  font-weight: 600 !important;
}

.header-zu8eWb {
  color: var(--main-color);
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--hover-color), var(--main-color), transparent);
  border-image-slice: 1;
  padding: 19px 16px 6px 16px;
  margin: 4px 0px 10px 15px;
  padding-top: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
  width: 210px;
}
.header-zu8eWb {
  font-family: Courgette;
  opacity: 1 !important;
}




/* Read All Notifications/Public Servers */
.RANbutton {
  text-transform: capitalize !important;
  font-size: 11px !important;
}

.RANbutton:hover {
  background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}



/* #channel Roundness */
#app-mount .chat-3bRxxu .wrapper-3WhCwL {
  border-radius: 4px;
}



/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}



/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
  background: var(--main-color) !important;
}

.ra-serveritem {
    margin: 20px;
    margin-top: 50px !important;
    display: flex;
    position: initial;
    flex-direction: column;
    contain: layout;
    pointer-events: auto;
}

.ra-x-button {
    background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    float: right;
    cursor: pointer;
    color: transparent !important;
    width: 15px;
    height: 15px;
    margin-bottom: 80px;
}


  
/* User Birthday's */
.ub-item-inner {
  background: var(--main-color) !important;
}

.ub-x-button {
  background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  float: right;
  cursor: pointer;
  color: transparent !important;
  width: 15px;
  height: 15px;
  margin-bottom: 17.5%;
}



/* Colored PluginRepo & ThemeRepo Loading */
path[d*="M0.000 183.023 L 0.000 366.046 46.377 366.046 L 92.754 366.046 92.754 312.629 L 92.754 259.213 127.223 259.213 C 174.433 259.213,187.432 257.146,210.766 245.926 C 311.105 197.681,301.344 41.358,195.859 7.193 C 173.603 -0.015,173.838 0.000,80.846 0.000 L 0.000 0.000 0.000 183.023 M157.615 88.195 C 193.007 97.413,198.827 152.678,166.407 171.674 C 158.993 176.019,155.494 176.398,122.807 176.398 L 92.754 176.398 92.754 131.677 L 92.754 86.957 122.807 86.957 C 146.807 86.957,153.819 87.206,157.615 88.195"] {
  fill: var(--main-color) !important;
}

path[d*="M0.000 39.479 L 0.000 78.957 43.575 78.957 L 87.151 78.957 87.151 204.097 L 87.151 329.236 129.609 329.236 L 172.067 329.236 172.067 204.097 L 172.067 78.957 215.642 78.957 L 259.218 78.957 259.218 39.479 L 259.218 0.000 129.609 0.000 L 0.000 0.000 0.000 39.479"] {
  fill: var(--main-color) !important;
}



/* Public Servers */
#bd-pub-button {
  height: 50px !important;
  -webkit-mask: url("https://zuranasuki.github.io/assets/public_servers_icon.svg");
  -webkit-mask-size: 40px 40px;
  -webkit-mask-position: 50%;
  -webkit-mask-repeat: no-repeat;
  font-size: 0px !important;
  background-color: var(--main-color);
}

#bd-pub-button:hover {
  background-color: var(--hover-color);
}


#bd-pub-li {
  height: 50px !important;
}



/* BetterFriendCount */
.betterfriendcount-badge {
    background-color: transparent !important;
}



/* OnlineFriendCount */
.theme-dark .friendsOnline-2JkivW {
    color: #fff !important;
}



/* AKA Color Fix */
.akaBadge-1M-1Gw {
  color: #fff;
}
