/*Account details in margin*/
.nameTag-3uD-yy .username-2BIRiC {
  display: inline-block !important;
  font-family: inherit !important;
  font-weight: 700 !important;
  font-size: 230% !important;
  height: 90px !important;
  line-height: 65px !important;
  color: var(--main-color) !important;
  margin-bottom: -18px !important;
  min-width: 111% !important;
  max-width: 111% !important;
  text-align: center !important;
  margin-top:3px !important;
  margin-left:-15px !important;
}
.nameTag-3uD-yy .username-2BIRiC {
  position: absolute !important;
  right: 0px !important;
  height: 75px !important;
  max-width: 242px !important;
  min-width: 242px !important;
}
.theme-dark .discriminator-3-Lf_x, .theme-light .discriminator-3-Lf_x {
  right: 5px !important;
  position: absolute !important;
  display: initial !important;
  padding-top: 14px !important;
}
.container-3baos1 .button-2JbWXs {
  margin-left: 30px;
  right: 30px;
}
.members-1998pB {margin-bottom:60px !important;}
.button-2b6hmh {margin-right:26px !important;}
.privateChannels-1nO12o ~ .container-3baos1 .nameTag-3uD-yy .username-2BIRiC, .privateChannels-1nO12o ~ .container-3baos1 .nameTag-3uD-yy .discriminator-3-Lf_x {display: none !important;}
.accountDetails-3k9g4n .username {z-index:99 !important;}
.searchResultsWrap-2DKFzt {z-index:100 !important;}
.tooltip-1OS-Ti[style*="183.982px"] {
  margin-left:-12px;
}
.tooltip-1OS-Ti[style*="123.494px"] {
  margin-left:-12px;
}



/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}



/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}
