



/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}



/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}
