


:root {
    --main-color: #1f75fe;
}


/* Fancy Names */
.name-3YKhmS {
    font-family: 'Satisfy';
    font-weight: 500;
    margin-left: 15px;
}

#app-mount .name-IbjUBS, .privateChannels-1nO12o header, .membersGroup-v9BXpm {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Satisfy';
    font-weight: 500;
    color: var(--main-color) !important;
    opacity: .6;
    border-bottom: none;
    align-items: center;
    align-content: center;
    transition: all 200ms ease-in-out;
}

#app-mount .name-IbjUBS::after, .privateChannels-1nO12o header::after, .membersGroup-v9BXpm::after {
    content: "";
    align-self: center;
    flex: 1 1 auto;
    margin: 0 5px;
    height: 3px;
    background: linear-gradient(to right, currentColor 50%, transparent);
    transition: all 200ms ease-in-out;
}

#app-mount .name-IbjUBS::before, .privateChannels-1nO12o header::before, .membersGroup-v9BXpm::before {
    content: "";
    align-self: center;
    flex: 1 1 auto;
    margin: 0 5px;
    height: 3px;
    background: linear-gradient(to left, currentColor 50%, transparent);
    transition: all 200ms ease-in-out;
}

.username-2BIRiC {
    font-family: 'Satisfy';
    font-weight: 600;
    color: var(--main-color) !important;
}


/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}



/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}



/* Read All Notifications/Public Servers */
.RANbutton {
    text-transform: capitalize !important;
}

.RANbutton:hover {
    text-transform: capitalize !important;
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), var(--BG-gradient-opacity)) 20%, rgba(var(--BG-gradient-two), var(--BG-gradient-opacity))) !important;
}
  
.theme-dark .acronym-2mOFsV, .theme-light .acronym-2mOFsV {
    color: #fff;
    transition: all 200ms ease-in-out;
}



/* Unread Icon */
.item-2hkk8m {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), var(--BG-gradient-opacity)) 20%, rgba(var(--BG-gradient-two), var(--BG-gradient-opacity))) !important;
}



/* Nitro Icon */
.selectorNitroIcon-2rQO-z g path {
    fill: var(--main-color);
}
