/* Imports */
@import url("https://zuranasuki.github.io/css/addons/midnight/RoundnessFixes.css");
@import url("https://zuranasuki.github.io/css/addons/midnight/MidnightSettingsIcons.css");




/* Creation Date/Joined At Date Fixes */
.theme-dark [class*='topSection'] .creationDate {
  top: 5px;
  right: 10px;
}

.theme-dark [class*='topSection'] .joinedAtDate {
  top: 5px;
  right: 14px;
}




/* Read All Notifications/Public Servers */
.button-Jt-tIg {
  text-transform: capitalize;
  font-size: 10px !important;
  color: #fff;
  border-radius: 0px !important;
  box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, .07);
}

.button-Jt-tIg:hover {
  background: var(--accent) !important;
  border-radius: 0px !important;
}




/* Emoji Stitching Fix */
.emoji.jumboable {
  margin-right: 0px;
}
