@import url('https://ellexidecodes.github.io/Discord-Themes/addons/chatBubbles.css');
@import url('https://ellexidecodes.github.io/Discord-Themes/addons/categoryNameFlair.css'); 

/* Text For Server Name / Category Name / Role List / Group DM Name */
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 90%;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}
.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  height: 20px;
  padding: 0 12px 0 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}

/* BetterPonyMotes Button Fix (Top Right Only!) */
.bpm-emote-search-button {
    width: 35px;
    height: 24px;
}

/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}

/* Completely Removes Blocked Users Messages */
.messageGroupBlocked-3wrQQX {
    display: none;
}

/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
    background: var(--main-color) !important;
}
  
/* User Birthday's */
.ub-item-inner {
  background: var(--main-color) !important;
}

/* BPM Fix */
#bpm-sb-container {  border: thin solid var(--main-color) !important; padding: 5px 5px 0px 5px !important; margin: 0px !important !important; background-color: var(--BPM) !important;}
#bpm-sb-close {filter: invert(1) !important;}
#bpm-sb-tabframe { background-color: transparent !important;}
#bpm-sb-dragbox { filter: invert(1) !important;}
#bpm-sb-input { font: 13.3333px Arial !important;color: black !important;}
.bpm-search-result { border: solid var(--main-color) thin !important;}
.bpm-sb-help { color: white !important;}
#bpm-sb-options {color: white !important;}
#bpm-sb-flagtab { color: white !important;}

/* Tag Fixes */
.guild-settings-audit-logs .large-3ChYtB:not(.wrapper-2F3Zv8)::before,
.guild-settings-audit-logs .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.ui-standard-sidebar-view .large-3ChYtB:not(.wrapper-2F3Zv8)::before,
.ui-standard-sidebar-view .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.inner-1JeGVc .large-3ChYtB:not(.wrapper-2F3Zv8)::before {
  display: none !important;
}

/* Custom NSFW Warning Image */
.theme-dark .image-2LqJex {
    background-image: url(https://i.imgur.com/vFqPXVY.png);
    height: 512px;
    width: 362px;
}

/* Read All Notifications */
#RANbutton {
  text-transform: capitalize !important;
}

/* CSS Editor */
.ace_content, .ace_gutter-layer {
    background :var(--quaternary-color) !important;
} 
.ace-monokai {
    background: transparent !important;
}
.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: var(--quaternary-color) !important;
    box-shadow: transparent !important;
}
.ace-monokai .ace_gutter {
    background:transparent !important;
    color: var(--main-color) !important
}
 #bd-customcss-attach-controls button, .bd-detached-css-editor {
    background: var(--main-color) !important;
    border-right: 1px solid var(--main-color) !important;
}
 #bd-customcss-attach-controls:hover button:hover, .bd-detached-css-editor:hover {
    background: var(--main-color) !important;
    border-right: 1px solid var(--hover-color) !important;
}
.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    box-shadow: 0 1px 0 0 transparent inset !important;
}

/* Popout Patern */
.headerTop-3C2Zn0 {
    background-image: url(https://cdn.rawgit.com/squee666/Discord-Themes/master/Themes/bg.svg) !important;
    background-size: 9em !important;
}

/* Peeking Bowsette on Server Create Button */
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK:hover:before {
  background-image: url(https://i.imgur.com/Wc61NgQ.png);
  background-size: 25px;
  background-repeat: no-repeat;
  margin-bottom: -59px;
  margin-left: 24px;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK:before {
  background-size: 25px;
  background-repeat: no-repeat;
  margin-bottom: -126px;
  margin-left: 24px;
}

/* Fancy New User Details by Tropix */
.accountDetails-3k9g4n .username {
  display: inline-block;
  font-family: "Satisfy";
  font-weight: 700;
  font-size: 250%;
  height: 90px;
  line-height: 60px;
  color: var(--main-color) !important;
  margin-bottom: -18px;
  min-width: 111%;
  max-width: 111%;
  text-align: center;
  margin-top:8px;
  margin-left:-15px
}
.accountDetails-3k9g4n {
  position: fixed;
  right: 0px;
  height: 75px;
  max-width: 242px !important;
  min-width: 242px !important;
}
.accountDetails-3k9g4n .discriminator {
  right: 5px;
  position: fixed;
  display: initial;
  padding-top: 53px;
}
.theme-dark .members-1998pB {
  margin-bottom:60px;
}
.theme-dark .button-2b6hmh {
  margin-right:15px;
}
.privateChannels-1nO12o ~ .container-2Thooq .accountDetails-3k9g4n {
  display: none;
}
