/* Fancy Text For Server Name/Category Name/ Role List/ Group DM Name */
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;

}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 90%;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}

/* BetterPonyMotes Button Fix (Top Right Only!) */
.bpm-emote-search-button {
    width: 35px;
    height: 25px;
}

/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}

/* Completely Removes Blocked Users Messages */
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX,.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX {
    display: none;
}

/* Flashing Notifications / New Guild Animations */
.guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:not(.selected) .guildInner-3DSoA4 {
    animation: pulseUnread 1.5s infinite linear;
    transition: all linear .2s;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:before {
    display: none;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4 {
    box-shadow: 0px 0px 2px 2px var(--mc);}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 {
    transition: all linear .2s;
    box-shadow: 0 0 0 10px 0 #000;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4:hover {
    box-shadow: 0px 0px 10px 1px var(--mc);
    animation: none;}
@keyframes pulseUnread{
    0% { box-shadow: 0 0 1px 1px var(--hc); }
    50%  {  box-shadow: 0 0 2px 3px var(--mc);}
    100% {  box-shadow: 0 0 1px 1px var(--hc); }
}

/* Video Call Background Transparency */
.videoBackgroundWrapper-2dCt49 {
    background-color: transparent;
}

/* Home Icon */
.homeIcon-1FoKUJ { 
    background-color: var(--mc); 
    -webkit-mask: url(https://ellexidecodes.github.io/Discord-Themes/assets/home.svg);
    -webkit-mask-size: 80%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center; 
}

.guilds-1q_RqH .homeIcon-1FoKUJ defs,.guilds-1q_RqH .homeIcon-1FoKUJ g {display: none;}

/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
    background: var(--mc) !important;
}
  
/* User Birthday's */
.ub-item-inner {
  background: var(--mc) !important;
}
