/* Fancy Text For Server Name/Category Name/ Role List/ Group DM Name */
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;

}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 90%;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}

/* BetterPonyMotes Button Fix (Top Right Only!) */
.bpm-emote-search-button {
    width: 35px;
    height: 25px;
}

/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}

/* Completely Removes Blocked Users Messages */
.message-group-blocked {display: none;}

/* Flashing Notifications / New Guild Animations */
.guilds .guild.unread:not(.selected) .guild-inner {
    animation: pulseUnread 1.5s infinite linear;
    transition: all linear .2s;
}
.guilds-wrapper .guilds .guild:before {
    display: none;
}
.guilds-wrapper .guilds .guild.selected .guild-inner {
    box-shadow: 0px 0px 2px 2px var(--mc);
}
.guilds-wrapper .guilds .guild .guild-inner {
    transition: all linear .2s;
    box-shadow: 0 0 0 10px 0 #000;
}
.guilds-wrapper .guilds .guild .guild-inner:hover {
    box-shadow: 0px 0px 10px 1px var(--mc);
    animation: none;
}
@keyframes pulseUnread{
    0% {
         box-shadow: 0 0 1px 1px var(--hc);
    }
    50%  {
        box-shadow: 0 0 2px 3px var(--mc);
    }
    100% {
         box-shadow: 0 0 1px 1px var(--hc);
    }
}

/* Video Call Background Transparency */
.videoBackgroundWrapper-2dCt49 {
    background-color: transparent;
}

/* Chat Bubbles */
.message-group .comment {
  background-color: var(--quaternary-color);
  padding: 13px;
  border-radius: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.chat .avatar-large:not(.wrapper-2F3Zv8):after {
  content: ' ';
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-right-color: var(--quaternary-color);
  position: absolute;
  margin-top: 25%;
  margin-left: 105%;
}

/* Home Icon */
.home-icon {
  background-color: var(--mc);
  -webkit-mask: url(https://ellexidecodes.github.io/Discord-Themes/assets/home.svg);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.guilds .home-icon defs,
.guilds .home-icon g {
  display: none;

/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
    background: var(--mc) !important;
}
  
/* User Birthday's */
.ub-item-inner {
  background: var(--mc) !important;
}
