.bpm-emote-search-button {
    width: 210px;
    height: 25px;
}

.message-group-blocked {display: none;}

.guilds .guild.unread:not(.selected) .guild-inner {
    animation: pulseUnread 1.5s infinite linear;
    transition: all linear .2s;
}
.guilds-wrapper .guilds .guild:before {
    display: none;
}
.guilds-wrapper .guilds .guild.selected .guild-inner {
    box-shadow: 0px 0px 2px 2px var(--mc);
}
.guilds-wrapper .guilds .guild .guild-inner {
    transition: all linear .2s;
    box-shadow: 0 0 0 10px 0 #000;
}
.guilds-wrapper .guilds .guild .guild-inner:hover {
    box-shadow: 0px 0px 10px 1px var(--mc);
    animation: none;
}
@keyframes pulseUnread{
    0% {
         box-shadow: 0 0 1px 1px var(--hc);
    }
    50%  {
        box-shadow: 0 0 2px 3px var(--mc);
    }
    100% {
         box-shadow: 0 0 1px 1px var(--hc);
    }
}

.bda-slist .bda-header {
overflow:visible !important;
border-bottom: none !important;
padding-bottom: 0;}

.ra-serveritem-inner {
    padding: 10px;
    align-items: center;
    display: flex;
    background: var(--mc);
    border-radius: 5px;
    min-width: 400px;
}

.videoBackgroundWrapper-2dCt49 {
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: transparent;
    padding: 60px 0;
}

.assetsSmallImage-3_3Bzj {
    border-radius: 50%;
    bottom: -4px;
    position: absolute;
    right: -4px;
}

.home-icon {
  background-color: var(--mc);
  -webkit-mask: url(https://ellexidecodes.github.io/Discord-Themes/assets/home.svg);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.guilds .home-icon defs,
.guilds .home-icon g {
  display: none;
}
