/* CSS edits only for FATFATTY2BY4 */

/* BetterPonyMotes Button Fix (Top Right Only!) */
.bpm-emote-search-button {
    width: 35px;
    height: 25px;
 }

/* MemberCount Transparency */
#memberCount {
   background:0 0!important;
   padding:0 0 .9vh!important
 }

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
   color: rgb(255, 255, 255);
   background-image: url(https://i.imgur.com/GWDKxza.jpg) !important;
   background-size: cover !important;
   font-weight: 500;
 }

/* DM Selected Friend Background */
.private-channels .channel.selected a {
    background-image: url(https://i.imgur.com/GWDKxza.jpg) !important;
    color: #fff;
    background-size: cover;
 }

.private-channels .channel:hover a {
    background-image: url(https://i.imgur.com/GWDKxza.jpg) !important;
    color: #fff;
    background-size: cover;
 }

/* Home Icon */
.homeIcon-1FoKUJ {
    background: url(https://i.imgur.com/DjzmZAL.gif) no-repeat center/80%!important;
    -webkit-mask: none !important;
    mask: none !important;
    height: 53px !important;
}
.homeIcon-1FoKUJ g {
  display: none;
}

/* Flashing Notifications / New Guild Animations */
.guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:not(.selected) .guildInner-3DSoA4 {
    animation: pulseUnread 1.5s infinite linear;
    transition: all linear .2s;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:before {
    display: none;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4 {
    box-shadow: 0px 0px 2px 2px var(--mc);}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 {
    transition: all linear .2s;
    box-shadow: 0 0 0 10px 0 #000;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4:hover {
    box-shadow: 0px 0px 10px 1px var(--mc);
    animation: none;}
@keyframes pulseUnread{
    0% { box-shadow: 0 0 1px 1px #5914d0; }
    50%  {  box-shadow: 0 0 2px 3px #2780e6;}
    100% {  box-shadow: 0 0 1px 1px #5914d0; }
}

/* Completely Removes Blocked Users Messages */
.theme-dark .friends-table .messages-3amgkR .messageGroupBlocked-3wrQQX,.theme-dark .messagesWrapper-3lZDfY .messages-3amgkR .messageGroupBlocked-3wrQQX {
    display: none;
}

/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}

/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
    background: var(--mc) !important;
}

.ra-serveritem-inner {
    padding: 10px;
    align-items: center;
    display: flex;
    background: var(--mc) !important;
    border-radius: 5px;
    min-width: 400px;
}

/* Fancy Text For Sever Name/Category Name/ Role List/ Group DM Name */
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;

}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 90%;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

 /* User Birthday's */
.ub-item-inner {
  background: var(--mc) !important;
}
  
/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 100px;
  max-height: 120px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}
