/* Imports */
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/chatBubbles.css");
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/categoryNameFlair.css"); 
@import url("https://ellexidecodes.github.io/Discord-Themes/addons/slideDownStatus.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Details%20In%20Margin.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Large%20Reactions.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/User%20Popout%20Pattern.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Transparent%20CSS%20Editor.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/Reborn%20Snippets/Collapsed%20Dropdown%20Menu.css");

/* Text For Server Name / Category Name / Role List / Group DM Name */
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 90%;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}
.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  height: 20px;
  padding: 0 12px 0 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Animated Guild List Streaming Border */
.status-streaming{
    animation:streaming-flash 1.5s linear infinite;
}
.user-popout .header.streaming .username-wrapper .activity strong{
    color: #593695;
}
@keyframes streaming-flash {
    0% {
        box-shadow: 0 1px 1px rgba(89, 54, 149, 0), 0 0 0 0px rgba(89, 54, 149, .4);
    }
    50% {
        box-shadow: 0 0px 2px 3px rgba(89, 54, 149, .3), 0 0 0 4px rgba(89, 54, 149, .7);
    }
    100% {
        box-shadow: 0 0px 1px 1px rgba(89, 54, 149, 0), 0 0 1px 4px rgba(89, 54, 149, 0);
    }
}
.user-popout .header.streaming~.body,
.user-popout .header.streaming~.footer{
    --accent-color: #593695;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #593695 !important;
}

/* BetterPonyMotes Button Fix (Top Right Only!) */
.bpm-emote-search-button {
  width: 30px;
  height: 24px;
}

/* New BetterPonyMotes Button */
.bpm-emote-search-button {
  background: url(https://image64labs.github.io/assets/bpm_icon.png) no-repeat center center;
}

/* Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 80px;
  max-height: 100px;
}

.emoji {
  min-height: 25px;
  min-width: 25px;
}

/* Completely Removes Blocked Users Messages */
.messageGroupBlocked-3wrQQX {
    display: none;
}

/* Guild/Friend Removal Alert */
.ra-serveritem-inner {
    background: var(--main-color) !important;
}

.ra-x-button {
  background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  float: right;
  cursor: pointer;
  color: transparent !important;
  width: 15px;
  height: 15px;
  margin-bottom: 17.5%;
}
  
/* User Birthday's */
.ub-item-inner {
  background: var(--main-color) !important;
}

.ub-x-button {
  background-image: url(https://ellexidecodes.github.io/Discord-Themes/assets/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  float: right;
  cursor: pointer;
  color: transparent !important;
  width: 15px;
  height: 15px;
  margin-bottom: 17.5%;
}

/* BPM Fix */
#bpm-sb-container {  border: 2px solid var(--main-color) !important; padding: 5px 5px 0px 5px !important; margin: 0px !important !important; background-color: var(--BPM) !important;}
#bpm-sb-close {filter: invert(1) !important;}
#bpm-sb-tabframe { background-color: transparent !important;}
#bpm-sb-dragbox { filter: invert(1) !important;}
#bpm-sb-input { font: 13.3333px Arial !important;color: black !important;}
.bpm-search-result { border: none !important;}
.bpm-sb-help { color: white !important;}
#bpm-sb-options {color: white !important;}
#bpm-sb-flagtab { color: white !important;}

/* Tag Fixes */
.guild-settings-audit-logs .large-3ChYtB:not(.wrapper-2F3Zv8)::before,
.guild-settings-audit-logs .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.ui-standard-sidebar-view .large-3ChYtB:not(.wrapper-2F3Zv8)::before,
.ui-standard-sidebar-view .large-3ChYtB:not(.wrapper-2F3Zv8)::after,
.inner-1JeGVc .large-3ChYtB:not(.wrapper-2F3Zv8)::before {
  display: none !important;
}

/* Custom NSFW Warning Image */
.theme-dark .image-2LqJex {
  background-image: url(https://image64labs.github.io/assets/boosette_nsfw_warning.png);
  height: 512px;
  width: 362px;
}

/* Read All Notifications */
#RANbutton {
  text-transform: capitalize !important;
}

/* Peeking Boosette on Server Create Button */
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK:hover:before {
  background-image: url(https://image64labs.github.io/assets/peaking_boosette.png);
  background-size: 25px;
  background-repeat: no-repeat;
  margin-bottom: -56px;
  margin-left: 24px;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}
.guildsWrapper-5TJh6A .guild-1EfMGQ.guildsAdd-21_IdK:before {
  background-size: 25px;
  background-repeat: no-repeat;
  margin-bottom: -126px;
  margin-left: 24px;
}

/* Nitro Settings */
.layer-3QrUeG[layer-id="user-settings"] .item-PXvHYJ:nth-of-type(8) {
  color: var(--main-color) !important;
}

.layer-3QrUeG[layer-id="user-settings"] .item-PXvHYJ:nth-of-type(8).selected-3s45Ha {
  color: #fff !important;
  background: var(--main-color) !important;
}

.theme-dark .grandfatheredMessage-1BnHtv {
  background-image: -webkit-gradient(linear,right top,left top,from(var(--main-color)),to(var(--hover-color)));
  background-image: linear-gradient(270deg,var(--main-color),var(--hover-color));
  color: #fff;
}

/* Friends Tab (Thanks Tropix) */
.theme-dark #friends .tab-bar.tab-bar-desktop .tab-bar-item {border-radius:3px !important;}
.theme-dark #friends .tab-bar .tab-bar-item.selected {background-color: var(--main-color) !important; color:white;}
#friends .tab-bar .tab-bar-item.tab-bar-item-primary {background-color: var(--hover-color) !important;}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {color: #fff;
}

/* Video Call Transparent Background */
.video-1kutKI {
  background-color: transparent;
}

/* Status Picker Transparency */
.menu-Sp6bN1.alt-3btY0e {
  background: transparent !important;
}

/* Public Servers Icon (Thanks Tropix For Icon) */
#bd-pub-button {
  background-color: var(--main-color);
  -webkit-mask: url("https://image64labs.github.io/assets/public_servers_icon.svg");
  -webkit-mask-size: 40px 40px;
  -webkit-mask-position: 50%;
  -webkit-mask-repeat: no-repeat;
  height: 50px !important;
  font-size: 0px !important;
}

#bd-pub-li {
  height: 50px !important;
}

/* No Emote Found Sad Face */
.emojiPicker-3m1S-j .no-search-results .sad-discord {
  -webkit-filter: invert() hue-rotate(-180deg);
  opacity:0.7;
}

/* Username in Margin fix */
.accountDetails-3k9g4n {
  position: absolute !important;
}
.accountDetails-3k9g4n .discriminator {
  position: absolute !important;
}
