/* ========= START OF USER TAGS ============== */

  /* before hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]::before {
  content: "}";
}


  /* on hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="avatars/107511169366888448"]:hover::before {
  content: 'His Code Works';
  background: url(https://i.imgur.com/sZJzzNW.gif);
  -webkit-filter: hue-rotate(360deg) invert();
  animation: hue-rotate 1.5s linear infinite;
  border: 2px solid var(--mc);
  color: var(--mc);
  font-size: 14px;
  font-weight: 700;
  padding: 4px 4px;
  left: calc(100% - 20px);
  bottom: -20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  text-align: center;
}






/* ======= SPECIAL TAGS ========= */

/* Green's Zelda Triangle */

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="214318588331294720"]::before {
  content: '';
  background-image: url(https://i.imgur.com/tsr97cA.gif);
  background-size: 21px;
  background-repeat: no-repeat;
}




/* badges */



/* icons */


/* on hover */
  /* green */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="214318588331294720"]:hover::before {
  content: "GREEN?";
  background: url(https://i.imgur.com/sZJzzNW.gif);
  color: #fff;
  left: -2px;
  bottom: -20px;
  background-size: cover;
  background-position: center;
  width: calc(100% + 4px);
  font-size:11px;
  font-weight: 700;
  padding: 2px 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}





/* badges on hover */

 
}



/* content */
