/* ========= START OF USER TAGS ============== */

  /* before hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]::before {
  content: "}";
}


  /* on hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]:hover::before {
  display: inline-block !important;
  content: "Modpack King" !important;
  background: url(https://i.imgur.com/ZcZChVB.gif);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size:14px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important; }






/* ======= SPECIAL TAGS ========= */

/* badges */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]::before {
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -8px;
  right: -8px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}



/* icons */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]::before {
  background-image: url(https://i.imgur.com/WDQ4Iki.gif);
  transform: scale(1.2) !important;
  bottom: -5px;
  right: -5px;
}


/* on hover */






/* badges on hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]::before {
  transform: none;
  background-size: 15px;
  background-position: center;
  padding: 6px 10px;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
  right: unset;
  left: calc(100% - 13px);
  bottom: -8px;
  font-weight: 700;
}



/* content */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]:hover::before {
  content: 'Image64Labs Waifu';
  background-image: url(https://i.imgur.com/8YJ40kx.gif);
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]:hover::before {
  display: block;
  background-color: transparent;
  box-shadow: none;
}
