/* Tag Animations Import */
@import url("https://image64labs.github.io/css/SpecialTagAnimations.css");
@import url('https://tropix126.github.io/BetterDiscordStuff/midnight/css/customUserPopouts.css');



/* ========= START OF USER TAGS ============== */

  /* before hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="277988285513596928"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="168274283414421504"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="258773322098147345"]::before {
  content: "}";
}


  /* on hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="277988285513596928"]:hover::before {
  content: "AHHHHHHHHHHHHHHHHHHHHHHH";
  background-color: #7f0000; 
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="168274283414421504"]:hover::before {
  content: 'PREMIUM!';
  background: url(https://image64labs.github.io/assets/rainbow.gif);
  -webkit-filter: hue-rotate(360deg) invert();
  animation: hue-rotate 1.5s linear infinite;
  color: var(--hover-color);
  bottom: -15px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="258773322098147345"]:hover::before {
  content: "Rea is life";
  background: url(https://i.imgur.com/EbzlPNX.gif);
  background-size: cover;
  background-position: center;
  color: #FFF35B;
  font-size:14px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}






/* ======= SPECIAL TAGS ========= */


/* badges */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="220643828963606534"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="218048901167579137"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236701839888744449"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="334025021645127682"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="561682986479648778"]::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]::before{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -8px;
  right: -8px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}



/* icons */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]::before {
  background-image: url(https://i.imgur.com/kW8fUZy.gif);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="220643828963606534"]::before {
  background-image: url(https://i.imgur.com/6KS2PMx.gif);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="218048901167579137"]::before {
  background-image: url(https://i.imgur.com/uQUvjoY.gif);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236701839888744449"]::before {
  background-image: url(https://i.imgur.com/zKPb4BV.gif);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="334025021645127682"]::before {
  background-image: url(https://i.imgur.com/ASHALqH.gif);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="561682986479648778"]::before {
  background-image: url(https://i.imgur.com/xos3aIy.png);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]::before {
  background-image: url(https://i.imgur.com/NPMhJYu.png);
  transform: scale(1.5);
  bottom: -5px;
  right: -5px;
}


/* on hover */


/* badges on hover */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="220643828963606534"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="218048901167579137"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236701839888744449"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="334025021645127682"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="561682986479648778"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]:hover::before {
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 6px 10px;
  height: auto;
  width: auto;
  box-sizing: border-box;
  white-space: nowrap;
  right: unset;
  left: calc(100% - 13px);
  bottom: -6px;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}




/* content */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]:hover::before {
  content: "Justin's Waifu";
  background-image: url(https://i.imgur.com/8YJ40kx.gif);
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: -15px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="220643828963606534"]:hover::before {
  content: 'The Queen of Plants';
  background-image: url(https://i.imgur.com/UxV6iIg.gif);
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: -15px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="218048901167579137"]:hover::before {
  content: 'Organization XIII';
  background-image: url(https://i.imgur.com/MS4J6cz.png);
  color: #fff;
  bottom: -15px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236701839888744449"]:hover::before {
  content: 'Big Fox';
  background: url(https://image64labs.github.io/assets/rainbow.gif);
  -webkit-filter: hue-rotate(360deg) invert();
  animation: hue-rotate 1.5s linear infinite;
  color: var(--hover-color);
  font-size: 14px;
  font-weight: 700;
  bottom: -15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="334025021645127682"]:hover::before {
  content: 'Little Fox';
  color: white;
  background-image: url(https://image64labs.github.io/assets/rainbow.gif);
  bottom: -15px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="561682986479648778"]:hover::before {
  content: '☀Thief of Light☀';
  background-image: url(https://i.imgur.com/z269678.gif);
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  bottom: -15px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]:hover::before {
  content: 'Modpack King';
  color: #fff;
  background: url(https://i.imgur.com/ZcZChVB.gif);
  bottom: -15px;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="220643828963606534"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="218048901167579137"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236701839888744449"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="334025021645127682"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="561682986479648778"]:hover::before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]:hover::before {
  display: block;
  background-color: transparent;
  box-shadow: none;
}



/* Tag Animations */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="334025021645127682"]:hover:before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="258773322098147345"]:hover:before {
  animation-name: tagFadeRight;
  animation-duration: .2s;
  animation-iteration-count: 1;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="266406986235510786"]:hover:before {
  animation-name: scaleSpin;
  animation-duration: .4s;
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="561682986479648778"]:hover:before,
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="236421510108020736"]:hover:before {
  animation: mentionpulse 1.5s infinite, popoutanim .2s;
}



/* Temp Fix For My Tag */
.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="312782599439515650"]:hover::before {
  background-image: url(https://static.wixstatic.com/media/06469d_2baa7de8362f436b80a701d3aa097621~mv2.gif);
}

.large-3ChYtB:not(.wrapper-2F3Zv8)[style*="312782599439515650"]::before {
  background-image: url(https://static.wixstatic.com/media/06469d_d867f01fbb364a78ab86fe8868587d20~mv2.png);
}

.userPopout-3XzG_A .headerNormal-T_seeN .image-33JSyf[style*="312782599439515650"] + .status-oxiHuE {
  background-image: url(https://static.wixstatic.com/media/06469d_460b54b2daa747c1988783849470638e~mv2_d_1920_1288_s_2.jpg) !important;
}
