@import url('https://tropix126.github.io/BetterDiscordStuff/midnight/css/customUserPopouts.css');

/* Desolate */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="236421510108020736"] {
    --popoutbg:url('https://static.wixstatic.com/media/06469d_28204b0c60a541c1a4289632a2e87134~mv2.gif');
}
  
/* Pearlescent Moon */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="561682986479648778"] {
    --popoutbg:url('https://static.wixstatic.com/media/06469d_6fb21ed146e940e0912625227ed76e3d~mv2.png');
}

/* Image64Labs Girlfriend */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="266406986235510786"] {
    --popoutbg:url('https://static.wixstatic.com/media/06469d_038f4e2db18d440f916704e064caa056~mv2.gif');
}
  
/* GreasyKitty */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="334025021645127682"] {
    --popoutbg:url('https://static.wixstatic.com/media/06469d_3ef3fdb50d424a659b3f864869e3e838~mv2.jpg');
}
  
/* FATFATTY2BY4 */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="236701839888744449"] {
    --popoutbg:url('https://static.wixstatic.com/media/06469d_f97ea49242b549ba83830c549c511b8b~mv2.gif');
}
  
/* Dyno Premium */
.avatarWrapperNormal-3wFMbf[user_by_bdfdb*="168274283414421504"] {
    --popoutbg:url('https://static.wixstatic.com/media/06469d_333a614b38f84a35a73a2cc98a5c068e~mv2.gif');
}
