.message-group:not(.compact) .avatar-large[style*="312782599439515650"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="312782599439515650"] ~ .member-inner .member-username .member-username-inner::after{content:"The Clever One";background:none;color:var(--main-color);border-radius:11px;border: 2px solid #672382;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;-webkit-filter: hue-rotate(360deg) invert();animation: hue-rotate 1.5s linear infinite;}

.message-group:not(.compact) .avatar-large[style*="236701839888744449"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="236701839888744449"] ~ .member-inner .member-username .member-username-inner::after{content:"Big Daddy";background:none;color:var(--main-color);border-radius:11px;border: 2px solid #672382;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;-webkit-filter: hue-rotate(360deg) invert();animation: hue-rotate 1.5s linear infinite;}

.message-group:not(.compact) .avatar-large[style*="266406986235510786"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="266406986235510786"] ~ .member-inner .member-username .member-username-inner::after{content:"Image64Labs Waifu";background:#FF84EE;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

.message-group:not(.compact) .avatar-large[style*="277988285513596928"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="277988285513596928"] ~ .member-inner .member-username .member-username-inner::after{content:"AHHHHHH";background:#7F0000;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

.message-group:not(.compact) .avatar-large[style*="236421510108020736"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="236421510108020736"] ~ .member-inner .member-username .member-username-inner::after{content:"Modpack King";background:#000000;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

.message-group:not(.compact) .avatar-large[style*="220643828963606534"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="220643828963606534"] ~ .member-inner .member-username .member-username-inner::after{content:"Lil Sis";background:#FF00FF;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

.message-group:not(.compact) .avatar-large[style*="218048901167579137"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="218048901167579137"] ~ .member-inner .member-username .member-username-inner::after{content:"Organization XIII";background:#000000;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

.message-group:not(.compact) .avatar-large[style*="133978858457268224"] ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="133978858457268224"] ~ .member-inner .member-username .member-username-inner::after{content:"Shal Dynasty";background:#0026FF;color:#fff;border-radius:3px;border: 1px solid transparent;margin-left:6px;font-size:10px;font-weight:600;padding:1px 4px;text-transform:uppercase;vertical-align:bottom;line-height:16px;-webkit-flex-shrink:0;flex-shrink:0;text-shadow: 0px 1px 3px #000;}

/* Image64Labs Triforce */

.message-group:not(.compact) .avatar-large[style*="312782599439515650"] ~ .comment .message h2 span.username-wrapper::before{
    content: "`";
    background-image: url(https://i.imgur.com/PF3ZVW2.gif);
    background-size: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 0px;
    left: -3px;
    padding: 0px 10px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: -28px;
}

/* Sonicsora's Pinkamena */    

.message-group:not(.compact) .avatar-large[style*="218048901167579137"] ~ .comment .message h2 span.username-wrapper::before{
    content: "`";
    background-image: url(https://i.imgur.com/5vzMzlw.gif);
    background-size: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 0px;
    left: -3px;
    padding: 0px 10px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: -28px;
}

/* FATFATTY2BY4's Mini Me */    

.message-group:not(.compact) .avatar-large[style*="236701839888744449"] ~ .comment .message h2 span.username-wrapper::before{
    content: "`";
    background-image: url(https://i.imgur.com/HCGXYNr.gif);
    background-size: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 0px;
    left: -3px;
    padding: 0px 10px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: -28px;
}

/* Persona Vabel's Gohan GIF */    

.message-group:not(.compact) .avatar-large[style*="266406986235510786"] ~ .comment .message h2 span.username-wrapper::before{
    content: "`";
    background-image: url(https://i.imgur.com/LpYfFbf.gif);
    background-size: 25px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 0px;
    left: -3px;
    padding: 0px 10px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px !important;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: -28px;
}

