/* Compressed Search Bar */
.search-2oPWTC .searchBar-3dMhjb {
  width:30px;
}

.search-2oPWTC .searchBar-3dMhjb:hover {
  width:175px;
}

.focused-31_ccS .searchBar-3dMhjb {
  width: 244px !important;
}
