/* Spoiler Tweaks*/
.theme-dark .spoilerWarning-2aAZq1 {
  background-color: transparent;
}

.theme-dark .spoilerContainer-331r0R:hover .spoilerWarning-2aAZq1{
  background-color: $hover-color !important;
  border-radius: 5px;
}

.theme-dark .spoilerContainer-331r0R .spoilerWarning-2aAZq1{
  background-color: $main-color !important;
  border-radius: 5px;
}

.spoiler-1PPAUc.hiddenSpoilers-1ksnR6 { 
  filter: blur(22px);
}

.spoilerContainer-331r0R.hidden-HHr2R9 { 
  width: 85px;
  height: 30px;
  transition: 3s all ease-in-out !important;
}

.spoiler-1PPAUc {
  transition: 1.5s all ease-in-out !important;
}
