:root {
    --MC-chat-size: 50px;
}



#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .container-1YxwTf {
    padding: 0;
    min-height: calc(var(--MC-chat-size) + 40px);
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .container-1YxwTf:before {
    content: "";
    height: 1px;
    width: calc(100% - 40px);
    background: hsla(0,0%,100%,.04);
    display: block;
    margin: 0 20px;
    box-sizing: border-box;
}
#app-mount .messagesWrapper-3lZDfY .divider-3gKybi.divider-3zi9LO + .container-1YxwTf:before {
    content: none;
} 
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .container-1YxwTf .wrapper-3t9DeA {
    height: var(--MC-chat-size) !important;
    width: var(--MC-chat-size) !important;
}
.containerCozy-jafyvG .divider-32i8lo {
    display: none;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .container-1YxwTf .avatar-17mtNa {
    margin: 20px;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .container-1YxwTf .message-1PNnaP:first-of-type .content-3dzVd8 {
    margin-top: calc(var(--MC-chat-size) / -1);
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .container-1YxwTf .message-1PNnaP:last-of-type .content-3dzVd8 {
    padding-bottom: 20px;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .headerCozyMeta-rdohGq {
    margin-top: 20px;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .headerCozy-2N9HOL {
    height: auto;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .content-3dzVd8 {
    margin-left: calc(var(--MC-chat-size) + 40px);
}
