:root {
    --avatar-size: 70px;
}

#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG {
    min-height: calc(var(--avatar-size) + 40px);
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG:before {
    content: "";
    height: 1px;
    display: block;
    background: var(--background-modifier-accent);
    margin: 0 20px;
    position: relative;
    top: -20px;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG .headerCozy-2N9HOL {
    height: auto;
    margin-bottom: calc(var(--avatar-size) / -1 + 3px);
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG .wrapper-3t9DeA {
    width: var(--avatar-size) !important;
    height: var(--avatar-size) !important;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG .contentCozy-3XX413 {
    margin-left: calc(var(--avatar-size) + 40px);
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG .dividerEnabled-2TTlcf.divider-32i8lo {
    display: none;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .containerCozy-jafyvG:last-of-type {
    margin-bottom: 20px;
}
#app-mount .content-yTz4x3 .messagesWrapper-3lZDfY .divider-3gKybi.divider-3zi9LO + .containerCozy-jafyvG:before {
    display: none;
}
