	/* Theme Settings */
:root {

    --profileRadius: 6px;    /* 0 is normal squared edges. Up to 50px for rounded profiles. */
    --color: #fff;         /* Name colour */
    --nowPlaying: #fff ; /* Now playing status colour */
}

@keyframes userPopout {

    0% {opacity:0;filter:blur(8px);transform: scale(0.8)}

    100% {opacity:1;filter:blur(0);transform:scale(1)}
}

#app-mount .popout-2iWAc- {box-shadow: none}

#app-mount .userPopout-3XzG_A {
  animation: userPopout 200ms cubic-bezier(0.4, 0, 1, 1);
  border-radius: var(--profileRadius);
}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA img {border-radius: 0}

#app-mount .userPopout-3XzG_A .avatarHint-1qgaV3 {
  border-radius: 0;
  width:100%;
  height:100%;
}

#app-mount .userPopout-3XzG_A .avatarWrapper-3H_478,
#app-mount .userPopout-3XzG_A .wrapper-3t9DeA,
#app-mount .userPopout-3XzG_A .avatarWrapper-3H_478 {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 0 0;
    border-radius: 0 !important;
    width: 250px !important;
    height: 250px !important;
}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA foreignObject,
#app-mount .userPopout-3XzG_A .avatarHint-1qgaV3 foreignObject {
    mask: none;
}

#app-mount .userPopout-3XzG_A .headerTop-3C2Zn0 {padding: 0;}

#app-mount .userPopout-3XzG_A .headerName-fajvi9,
#app-mount .userPopout-3XzG_A .avatarHintInner-Dco91E,
#app-mount .userPopout-3XzG_A .headerText-2sdzFM .nameTag-m8r81H,
#app-mount .userPopout-3XzG_A .header-2BwW8b .creationDate,
#app-mount .userPopout-3XzG_A .header-2BwW8b .joinedAtDate.textRow-19NEd_,
#app-mount .userPopout-3XzG_A .headerTagUsernameNoNickname-2_H881  {
    text-shadow:0 1px 2px #000,
                1px 0 1px #000,
                0 0 2px #000;
    color: var(--color);
}

#app-mount .userPopout-3XzG_A .username-2b1r56 {
    overflow: visible;
}

#app-mount .userPopout-3XzG_A .bot-2Fta1w {text-shadow:none}

#app-mount .userPopout-3XzG_A .headerNameWrapper-3res2c, 
#app-mount .userPopout-3XzG_A .nameTag-m8r81H {
    bottom: 0;
}

#app-mount .userPopout-3XzG_A .headerTagWithNickname-3IthZD {
    margin-bottom: 5px;
}

#app-mount .userPopout-3XzG_A .headerText-2sdzFM {
    width: 250px;
    margin-top: 3px;
}

#app-mount .userPopout-3XzG_A .headerText-2sdzFM .creationDate .DevilBro-textscrollwrapper .textRow-19NEd_ {max-width:250px !important}

#app-mount .userPopout-3XzG_A .avatarWrapper-3H_478 .avatarHintInner-Dco91E {
  font-size: 4px;
}

#app-mount .userPopout-3XzG_A .nameTag-m8r81H, 
#app-mount .userPopout-3XzG_A .headerActivityText-3qBQRo, 
#app-mount .userPopout-3XzG_A .headerTag-3zin_i, 
#app-mount .userPopout-3XzG_A .headerName-fajvi9 {
    padding: 0;
    white-space: nowrap;
}

#app-mount .userPopout-3XzG_A .headerText-2sdzFM .headerActivityText-3qBQRo {height: 0;overflow: hidden;word-break: break-all;margin: 0}

#app-mount .userPopout-3XzG_A .mask-1l8v16 rect {
  mask: none;
  width: 100%;
  height: 4px;
  top: 0;
  x: 0;
  y: 77;
}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA:before {
  content: "";
  position: absolute;
  bottom: 240px;
  width: 100%;
  height: 10px;
  z-index: 1;
  border-radius: var(--roundness) !important;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2)!important;
}

#app-mount .userPopout-3XzG_A .mask-1l8v16 rect[fill="#ffffff"] {
  fill: var(--nowPlaying);
}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA rect:not([mask="url(#svg-mask-status-online-mobile)"]) {
    display: block;
}


/* Status Fixes */
#app-mount .userPopout-3XzG_A .mask-1l8v16 rect[mask*="svg-mask-status"] {
  height: 1px !important;
  width: 80px !important;
  rx: 0px !important;
}
