/* Old Status Boxes */
.mask-1l8v16 {
    contain: inherit !important;
  }
  
  .wrapper-3t9DeA[class*="avatar"] rect[x="22"][y="22"],
  .wrapper-3t9DeA svg[height="15"],
  .wrapper-3t9DeA rect[mask*="svg-mask-status"] {
    opacity: 1;
  }
  
  .wrapper-3t9DeA[class*="avatar" i],
  .wrapper-3t9DeA[style*="width: 80px;"],
  .wrapper-3t9DeA.listAvatar-1NlAhb {
    border: none;
    border-radius: var(--roundness);
    transition: none;
  }
  
  .wrapper-3t9DeA[aria-label*="Online"] {
    border-color: var(--online) !important;
  }
  
  .wrapper-3t9DeA[aria-label*="Idle"] {
    border-color: var(--idle) !important;
  }
  
  .wrapper-3t9DeA[aria-label*="Do Not Disturb"] {
    border-color: var(--dnd) !important;
  }
  
  .wrapper-3t9DeA[aria-label*="Streaming"] {
    border-color: var(--streaming);
  }
  
  .wrapper-3t9DeA[aria-label*="Invisible"] {
    stroke: var(--invisible) !important;
  }
  
  .avatarWrapperNormal-3wFMbf:hover .avatarHint-1qgaV3 {
    width: 84px;
    height: 84px;
    transition: none;
  }
