/*3.l. Search Bars*/
.da-searchBar .da-searchBarInner {
	border:none;
}
.searchBar-6Kv8R2 {
	box-shadow:none !important;
}
.searchBar-2_Yu-C,
.searchBar-3dMhjb,
.searchBar-6Kv8R2 .da-searchBarInner,
.searchBar-1MOL6S,
.search .search-bar,
.search-bar .search-bar-inner,
.searchBar-6Kv8R2 .search-bar  {
	background:transparent !important;
	border:none !important;
}
.searchBar-2pE3BB .search-bar,
.searchBar-2pE3BB .da-searchBar {
	background:rgba(0,0,0,0.5) !important;
}
div[style*="width: 100%; height: 20px"] {
    height:15px !important;
}
.privateChannels-1nO12o .searchBar-6Kv8R2 {
    position: absolute;
    bottom: 40px;
    right: 35px;
    padding: 0;
    border-radius:500px !important;
    transform: translate(50%, 50%) scale(0.2);
    width: 255px;
    height: 255px;
    box-shadow:0px 0px 100px rgba(0,0,0,0.75) !important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4="), var(--gradient);
    background-position: bottom 50% right 78px, bottom 0% right 0%;
    background-repeat: no-repeat;
    background-size: 40%, cover;
    transition:325ms width, 325ms background-size, 325ms right;
}
.privateChannels-1nO12o .searchBar-6Kv8R2:hover {
    width:965px;
    background-size: 12%, cover;
    right:110px;
}
.channel-2QD9_O.selected-1HYmZZ .linkButtonIcon-Mlm5d6 {
    color:#fff;
}
.channel-2QD9_O:hover .linkButtonIcon-Mlm5d6 {
    color:#fff;
}
.channel-2QD9_O .linkButtonIcon-Mlm5d6,
.linkButtonIcon-Mlm5d6 + .name-2WpE7M{
    color:rgba(255,255,255,0.35);
}
.privateChannels-1nO12o .searchBar-6Kv8R2:hover:after {
    content:"Search Messages";
    color:#fff;
    position:absolute;
    right:220px;
    height:255px;
    overflow:hidden;
    line-height:230px;
    font-size:88px;
}
.privateChannels-1nO12o .searchBar-6Kv8R2 input {
  pointer-events: initial;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.privateChannels-1nO12o .searchBar-6Kv8R2 input::-webkit-input-placeholder {
    color:transparent;
}
.privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarInner-1_Tg2R {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.search-2oPWTC .searchBar-3dMhjb {
    width:30px;
    transition-duration:300ms;
}
.search-2oPWTC .searchBar-3dMhjb:hover {
	width:200px;
}
.search-2oPWTC.da-focused .searchBar-3dMhjb {
	width: 244px !important;
}
.search-2oPWTC .da-searchBarIcon {
    cursor: pointer;
}
.searchBarIcon-1J6sKG .icon-3cZ1F_.visible-3V0mGj {
    opacity:.6 !important;
}
.emojiPicker-3m1S-j {
    height:60vh !important;
}
.emojiPicker-3m1S-j .scroller-3vODG7 {
    height:60vh !important;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background:transparent !important;
    height:100% !important;
    width:100% !important;
}
/*search bar*/




/* Server Pills */
.da-guild,
.guild-1EfMGQ.folder,
.friendsOnline-_wi_fM,
.da-guildsError {
    margin-left:10px;
}
.friendsOnline-2JkivW {
    margin-left:0px;
}
.container-1aNBdK {
    margin-left:10px;
}

.guildSeparator-1X4GQ1:after {
    display:none !important;
}

.acronym-2mOFsV {
    transition:250ms ease background;
    background:rgba(0,0,0,0.5) !important;
}
.acronym-2mOFsV:hover {
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important;
}
.listItem-2P_4kh {
    margin-left:10px;
}
.pill-31IEus {
    width:30px;
    margin-left:-9px;
}
.pill-3YxEhL {
    width:30px;
    margin-left:-9px;
}
.item-2hkk8m {
    margin-left:8px;
    border-radius:50px;
    width:8px !important;
    background:linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
}
.guildSeparator-3s64Iy {
    display:none;
}
.button-OhfaWu {
    background:transparent !important;
}
.circleIconButton-jET_ig {
    margin:0 !important;
}

.listItem-2P_4kh {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
    contain: layout style;
}
#app-mount .wrapper-1Rf91z .wrapper-21YSNc + .listItem-2P_4kh {
    margin-top: 10px;
}
.listItem-2P_4kh {
    margin-left: 5.5px;
}
.expandedFolderBackground-2sPsd- {
    position: absolute;
    top: 0;
    left: 18px;
    bottom: 24px;
    width: 48px;
    border-radius: 24px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: var(--background-secondary);
}
.unread-3zKkbm {
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 0 0px 0px 0;
    top: 00%;
    left: 0;
    margin-top: -4px;
}
/* Server Pills */
