/* My Home Icon */
.homeIcon-tEMBK1 {
  background-color: var(--home-color);
  -webkit-mask: url(https://image64labs.github.io/assets/Triforce.svg);
  -webkit-mask-size: var(--home-size);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.homeIcon-tEMBK1 {
  -webkit-mask-position: center;
  margin-left: -2px;
}

.homeIcon-tEMBK1 {
  display: block;
  width: 35px;
  height: 35px;
}



/* Zelda Font */
.name-IbjUBS {
  font-family: 'Hylia Serif Beta';
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Hylia Serif Beta';
  text-transform: capitalize;
  font-weight: 500;
  font-size: 88%;
  left: -1px;
  height: 48px;
  padding: 0 12px 0 16px;
}

.membersGroup-v9BXpm {
  font-family: 'Hylia Serif Beta';
  text-transform: capitalize;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 90%;
}

.input-2A_zIr {
  font-family: 'Hylia Serif Beta';
  text-transform: capitalize;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Hylia Serif Beta';
  font-weight: 500;
  height: 20px;
  padding: 0 12px 0 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.nameTag-3uD-yy .username-2BIRiC {
    font-family: Hylia Serif Beta;
}

.theme-dark .discriminator-3-Lf_x, .theme-light .discriminator-3-Lf_x {
    font-family: Hylia Serif Beta;
}

.username-3gJmXY {
    font-family: Hylia Serif Beta;
}

.discriminator-xUhQkU {
    font-family: Hylia Serif Beta;
}

.activityName-1IaRLn {
    font-family: Hylia Serif Beta;
}

.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881 {
    font-family: Hylia Serif Beta;
}

span.discriminator {
    font-family: Hylia Serif Beta;
}

span.username {
    font-family: Hylia Serif Beta;
}

.name-2WpE7M, .nameWithActivity-1ceSyU {
    font-family: Hylia Serif Beta;
}

.privateChannels-1nO12o header {
    font-family: Hylia Serif Beta;
}



/*Account details in margin*/
.nameTag-3uD-yy .username-2BIRiC {
    display: inline-block !important;
    font-family: "Hylia Serif Beta" !important;
    font-weight: 700 !important;
    font-size: 230% !important;
    height: 90px !important;
    line-height: 65px !important;
    color: var(--main-color) !important;
    margin-bottom: -18px !important;
    min-width: 111% !important;
    max-width: 111% !important;
    text-align: center !important;
    margin-top:3px !important;
    margin-left:-15px !important;
}
.nameTag-3uD-yy .username-2BIRiC {
    position: absolute !important;
    right: 0px !important;
    height: 75px !important;
    max-width: 242px !important;
    min-width: 242px !important;
}
.theme-dark .discriminator-3-Lf_x, .theme-light .discriminator-3-Lf_x {
    right: 5px !important;
    position: absolute !important;
    display: initial !important;
    padding-top: 14px !important;
}
.container-3baos1 .button-2JbWXs {
    margin-left: 30px;
    right: 30px;
}
.members-1998pB {margin-bottom:60px !important;}
.button-2b6hmh {margin-right:26px !important;}
.privateChannels-1nO12o ~ .container-3baos1 .nameTag-3uD-yy .username-2BIRiC, .privateChannels-1nO12o ~ .container-3baos1 .nameTag-3uD-yy .discriminator-3-Lf_x {display: none !important;}
.accountDetails-3k9g4n .username {z-index:99 !important;}
.searchResultsWrap-2DKFzt {z-index:100 !important;}
.tooltip-1OS-Ti[style*="183.982px"] {
    margin-left:-12px;
}
.tooltip-1OS-Ti[style*="123.494px"] {
    margin-left:-12px;
}
