/* My Home Icon */
.homeIcon-tEMBK1 {
  background-color: #fff;
  -webkit-mask: url(https://zuranasuki.github.io/assets/pantsu.svg);
  -webkit-mask-size: 35px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
  
.homeIcon-tEMBK1 {
  display: block;
  width: 35px;
  height: 35px;
}

.homeIcon-tEMBK1 {
  margin-left: 0px;
  margin-bottom: -3px;
}
  
#app-mount .homeIcon-tEMBK1 path {
  display: none;
}
