/* My Home Icon */
.homeIcon-tEMBK1 {
  background-color: var(--home-color);
  -webkit-mask: url(https://zuranasuki.github.io/assets/pantsu.svg);
  -webkit-mask-size: var(--home-size);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.homeIcon-tEMBK1 {
  -webkit-mask-position: center;
  margin-left: -2px;
}

.homeIcon-tEMBK1 {
  display: block;
  width: 35px;
  height: 35px;
}



/* Satisfy Font */
.name-IbjUBS {
  font-family: 'Satisfy';
  text-transform: capitalize;
  font-size: 90%;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy';
  text-transform: capitalize;
  font-weight: 600;
  font-size: 88%;
  left: 10px;
  height: 48px;
  padding: 0 12px 0 16px;
}

.membersGroup-v9BXpm {
  font-family: 'Satisfy';
  text-transform: capitalize;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 90%;
}

.input-2A_zIr {
  font-family: 'Satisfy';
  text-transform: capitalize;
}

.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy';
  font-weight: 500;
  height: 20px;
  padding: 0 12px 0 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.nameTag-3uD-yy .username-2BIRiC {
    font-family: Satisfy;
}

.activityName-1IaRLn {
    font-family: Satisfy;
}

.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881 {
    font-family: Satisfy;
}

.name-2WpE7M, .nameWithActivity-1ceSyU {
    font-family: Satisfy;
}

.privateChannels-1nO12o header {
    font-family: Satisfy;
}

span.username {
    font-family: Satisfy;
}
.username-3gJmXY {
    font-family: Satisfy;
}




/* Catergory Margin Fix */
.name-IbjUBS {
    padding-top: 0px;
    padding-bottom: 5px;
}



/* Channel Coloring */
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
    color: var(--main-color);
}

.theme-dark .icon-1_QxNX, .theme-light .icon-1_QxNX {
    color: var(--main-color);
}



/* Friends List Text */
.name-2WpE7M {
    color: var(--main-color);
}

.privateChannels-1nO12o header {
    color: var(--main-color);
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, transparent, var(--main-color), transparent);
    border-image-slice: 1;
    padding: 19px 16px 6px 16px;
    margin: 4px 0px 10px 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    width: 175px;
}
