/* My Home Icon */
.homeIcon-tEMBK1 {
  background-color: var(--home-color);
  -webkit-mask: url(https://zuranasuki.github.io/assets/pantsu.svg);
  -webkit-mask-size: var(--home-size);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.homeIcon-tEMBK1 {
  -webkit-mask-position: center;
  margin-left: -2px;
}

.homeIcon-tEMBK1 {
  display: block;
  width: 35px;
  height: 35px;
}






/* Channel Coloring */
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
    color: var(--main-color);
}

.theme-dark .icon-1_QxNX, .theme-light .icon-1_QxNX {
    color: var(--main-color);
}



/* Friends List Text */
.name-2WpE7M {
    color: var(--main-color);
}
