.header-2o-2hj .name-3YKhmS {
	font-family: 'Satisfy', cursive;
	font-weight: 500;
	height: 20px;
	padding: 0 12px 0 16px;
	padding-top: 0px;
	padding-bottom: 24px;
}

.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-size: 90%;
}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 90%;
}

.title-3qD0b- .input-autosize-input, .titleCall-_b9o8P .input-autosize-input {
  font-family: 'Satisfy', cursive;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}
