.header-2o-2hj .name-3YKhmS {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  height: 0px;
  padding: 0 12px 0 16px;
  padding-top: 0px;
  padding-bottom: 22px;
}

.name-IbjUBS {
  font-family: 'Satisfy', cursive;
  font-size: 90%;
  color: var(--hover-color) !important;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--gradient1), var(--gradient2), transparent);
  border-image-slice: 1;
  padding: 19px 16px 6px 16px;
  margin: 4px 0px 40px 15px;
  text-align: center;
}

.membersGroup-v9BXpm {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 90%;
}

.container-1MGX4D, .container-1MGX4D *, .input-2A_zIr {
  font-family: 'Satisfy', cursive;
  font-weight: 500;
}
