/* CSS edits only for FATFATTY2BY4 */



/* Home Icon */
.homeIcon-1FoKUJ {
  background: url(https://i.imgur.com/DjzmZAL.gif) no-repeat center/var(--home-size)!important;
  -webkit-mask: none !important;
  mask: none !important;
  height: 60px !important;
}

.homeIcon-1FoKUJ defs,
.homeIcon-1FoKUJ g {
  display: none;
}

/* Flashing Notifications / New Guild Animations */
.contentUnreadText-2vNnZc {
  animation: glow 1s ease-out;
  animation-iteration-count: infinite; 
  border-radius:5px
}

[class*="guild unread"] {
  animation: glow 1s ease-out;
  animation-iteration-count: infinite; 
  border-radius: var(--roundness);
}
@keyframes glow {
  0%{
  border: 2px solid rgb(161, 20, 194);
  background-color: #5914d0;}
  50%{
  Border: 2px solid rgb(6, 76, 239);
  background-color: #2780e6;}
  100%{ Border: 2px solid rgb(161, 20, 194);
  background-color: #5914d0;
}

/* Old Status Boxes */
.status-oxiHuE:not(.status-3fQvEa) {
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  border-radius: 50% !important;
  margin-top: 78% !important;
  height: 25% !important;
  position: absolute !important;
  margin-left: 78% !important;
  width: 25% !important;
}

.online-2S838R {
  background-color: var(--online) !important;
}

.status-oxiHuE:not(.status-3fQvEa).dnd-1_xrcq {
  background-color: var(--dnd) !important;
}

.idle-3DEnRT {
  background-color: var(--idle) !important;
}

.streaming-2_dnHe {
  background-color: var(--streaming) !important;
}
  
/* Even Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 160px;
  max-height: 200px;
}
