/* CSS edits only for FATFATTY2BY4 */



/* Home Icon */
.homeIcon-tEMBK1 {
  background: url(https://tinyurl.com/y2towbl2) no-repeat center/var(--home-size)!important;
  -webkit-mask: none !important;
  mask: none !important;
  height: 60px !important;
}

.homeIcon-tEMBK1 defs,
.homeIcon-tEMBK1 g {
  display: none;
}


/* Flashing Notifications / New Guild Animations */
.contentUnreadText-2vNnZc {
  animation: glow 1s ease-out;
  animation-iteration-count: infinite; 
  border-radius:5px
}

[class*="guild unread"] {
  animation: glow 1s ease-out;
  animation-iteration-count: infinite; 
  border-radius: var(--roundness);
}
@keyframes glow {
  0%{
  border: 2px solid rgb(161, 20, 194);
  background-color: #5914d0;}
  50%{
  Border: 2px solid rgb(6, 76, 239);
  background-color: #2780e6;}
  100%{ Border: 2px solid rgb(161, 20, 194);
  background-color: #5914d0;
}

  
/* Even Bigger Emoji */
.emoji.jumboable {
  height: auto;
  width: 160px;
  max-height: 200px;
}
